.app__header {
    background-color: #161A23;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.app__header_caption {
    max-width: 490px;   
}

.app__header_caption > .app__top_header {
    font-family: Inter;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    padding-bottom: 10px;
    color: white;
}

.app__header_caption > .app__h1_header {
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    color: white;
    border-bottom: 1px solid #5CC8F6;
    padding-bottom: 10px;
    margin-bottom: 20px;
    z-index: 100;
}

.app__header_caption > .app__p_subheader {
    font-family: Inter;
    font-weight: 500;
    font-size: 1.4rem;
    color: #F6EA7A;
    padding-bottom: 20px;
    z-index: 100;
}

.app__btn_outline_light {
    border: solid 1px white;
    border-radius: 25px;
    margin-right: 15px;
    padding-left:50px;
    padding-right:50px;
    background: transparent;
    padding-top:12px;
    padding-bottom: 10px;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background-image: -webkit-linear-gradient(45deg, #F6EA7A 50%, transparent 50%);
    background-image: linear-gradient(45deg, #F6EA7A 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.app__btn_outline_light:hover {
     background-position: 0;
     color: #161A23;
     border: solid 1px #F6EA7A
}

.app__btn_outline_light:focus { 
    outline: none; 
}

.app__ismobile {
    font-style: normal;
    font-size: 36px !important;
    color: blue !important;
}

@media screen and (max-width: 895px) {
    .app__btn_outline_light {
        width: 100%;
        display: block;
        margin-bottom: 15px;
    }
}

/* @media screen and (max-width: 1120px) {
    .app__h1_header {
        font-size: 55px !important;
    }
} */
